<div class="footer-top"></div>

<div class="footer clear">
  <div class="container">
    <div class="footer-strip clear">

      <div class="row">
        <div class="col-lg-6 col-md-6 qr">
          <div class="copy">Don’t Miss To Follow Us On Our Social Networks Accounts.</div>
        </div>

        <div class="col-lg-6 col-md-6 col-xs-9">

          <div class="footer-links pull-right clearfix">
            <p class="hidden-phone">Get Socialized</p>
            <div class="social-links">
              <span itemscope itemtype="">
                <link itemprop="url" href="">
                <a itemprop="sameAs" href="https://www.facebook.com/skyappz" target="_blank" class="sfb"></a>
                <a itemprop="sameAs" href="https://twitter.com/skyappz" target="_blank" class="stw"></a>
                <a itemprop="sameAs"
                  href="https://in.linkedin.com/in/skyappz-software-salem-32b218154"
                  target="_blank" class="sinn"></a>
               <a itemprop="sameAs" href="https://www.instagram.com/skyappzsoftware" target="_blank"
                  class="sinst"></a>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="footer-nav row-fluid">

      <div class="block col-lg-3 col-md-6 col-sm-6 col-xs-6">
        <h3><i class="fa fa-globe" aria-hidden="true"></i> About</h3>

        <ul>
          <li><a href="about" router-link="about">Who we are</a></li>
          <li><a href="mission" router-link="mission">Vision & Mission</a></li>
          <li><a href="ceo" router-link="ceo">CEO Message</a></li>
          <li><a href="career" router-link="career">Career</a></li>
          <li><a href="portfolio" router-link="portfolio">Portfolio</a></li>
          <li><a href="contact" router-link="contact">Contact Us</a></li>
        </ul>
      </div>

      <div class="block col-lg-3 col-md-6 col-sm-6 col-xs-6">
        <h3><i class="fa fa-mobile" aria-hidden="true"></i> Mobile</h3>
        <ul>
          <li><a href="appoverview" router-link="appoverview">Mobile App Development</a></li>
          <li><a href="android" router-link="android">Android App Development</a></li>
          <li><a href="ios" router-link="ios">IOS App Development</a></li>
          <li><a href="iot" router-link="iot">IOT App Development</a></li>
          <li><a href="flutterapp" router-link="flutterapp">Flutter App Development</a></li>
          <li><a href="appsupport" router-link="appsupport">Apps & Support</a></li>
        </ul>
      </div>

      <div class="block col-lg-3 col-md-6 col-sm-6 col-xs-6">
        <h3><i class="fa fa-laptop" aria-hidden="true"></i> Web</h3>
        <ul>
          <li><a href="angular" router-link="angular">Angular Development</a></li>
          <li><a href="node-js" router-link="node-js">Node Js Development</a></li>
          <li><a href="react-js" router-link="react-js">React Js Development</a></li>
          <li><a href="ecommerce" router-link="ecommerce">E Commerce Development</a></li>
          <li><a href="it-consulting" router-link="it-consulting">IT-Cconsulting</a></li>
          <li><a href="digital-marketing" router-link="digital-marketing">Digital Marketing</a></li>
        </ul>
      </div>
      <div class="block col-lg-3 col-md-6 col-sm-6 col-xs-6 aw-rec">
        <h3 class="awardscyc"><i class="fa fa-map" aria-hidden="true"></i> Our Locations</h3>
        <div class="india-cycle">
          <!--img src="assets/images/new/maps/india.png" alt="India Flag" width="30%" -->
          <p class="font-large">COIMBATORE:<br>
          <p>
            Krisan Business Centre, Mayflower Valencia, 3B, 5th & 7th FLOOR, Old/New 1264B, Avinashi Road,
            (Between
            KFC and Ford Showroom) Nava India, Coimbatore – 641004
          </p>
        </div>
      </div>
    </div>



    <div class="clear"></div>
    <!--div class="footer-company-nav">
       <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 footer-nav footer-nav-horizontal">
            <ul>
                  <li><a href="company/about-us.html"> About Us</a></li>
                <li><a href="portfolio/Portfolio-2.html">Portfolio</a></li>
                <li><a href="contact-us/contact.html">Contact Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                  <li><a href="sitemap/index.html">Site Map</a></li>
                  <li><a href="careers/careers.html">Careers</a></li>
                  <li><a href="blog/index.html">Our Blog</a></li>
                
              </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12">
     
        <div class="facebook-button">
      <div class="fb-like-inner">
      <div class="fb-like" data-href="https://www.facebook.com/iprismtech" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
          </div>
  <div class="clear"></div>
</div>
      </div>
      </div>
      <div class="clear"></div>
  

</div-->

    <div class="footer-strip clear">

      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-6 qr">
          <div class="copy">Copyrights &copy; 2021 | All Rights Reserved</div>
        </div>

        <div class="col-lg-6 col-md-6 col-xs-6">
          <div class="footer-links pull-right clearfix">
            <a href="" class="">Site Map</a>&nbsp;
            <a href="contact" class="contact">Contact Us</a>&nbsp;
            <a href="" class="">Privacy Policy</a>

          </div>
        </div>
      </div>

    </div>
    <!--div class="btt wow bounce" data-wow-duration="1.5s" ; data-wow-iteration="infinite"><i
        class="fa fa-chevron-up" aria-hidden="true"></i></div-->

  </div>


  
<div class="floating-form-wrap">
	<div class="floating-form">
    	<div class="container">
	<div class="row-fluid">
	<div class="formfl col-lg-12">
	<div id="flform" class="inform">

	<div class="tophead row-fluid">
	<p class="sub-head-white">Tell us about your project</p>
    </div>
    <p class="sub-head-dark font-medium text-left">Our Project Consultant will Call your in the Next 24 Hours to Discuss Your Project Scope in Detail</p>
    
    <div class="jform validate clearfix" action="#" method="get" data-role="us">
    	<div class="field">
            <input name="txt_rname" type="text" id="txt_rname" class="required alphanumeric" placeholder="Name" />
            <span id="rfv_rname" style="color:Black;visibility:hidden;"></span>
    	</div>
        
        <div class="pull-left">
            <div class="field code"><input type="text" name="code" disabled></div>
            <div class="field phone"><input name="txt_rphone" type="text" id="txt_rphone" placeholder="Phone Number" />
                <span id="rfv_rphome" style="color:Black;visibility:hidden;"></span>
            </div>
        </div>
        
        <div class="pull-left" >
            <div class="field"><input name="txt_remail" type="text" id="txt_remail" placeholder="Email" />
                <span id="rfv_remail" style="color:Black;visibility:hidden;"></span>
            </div>
            <div class="field pc">
                
                <input name="txt_rcountry" type="text" id="txt_rcountry" placeholder="Country" />
                <span id="rfv_rcountry" style="color:Black;visibility:hidden;"></span>
            </div>
        </div>
        <div class="field message dnon">
            <input name="txt_rextra" type="text" id="txt_rextra" placeholder="Share Reason" />
        </div>
        <div class="">
            <textarea name="txt_rmsg" rows="2" cols="20" id="txt_rmsg" placeholder="Share Your Requirements">
</textarea>
            <span id="rfv_rmsg" style="color:Black;visibility:hidden;"></span>
        </div>

        <input type="submit" name="btn_rsubmit" value="Submit"/>
        
        <input type="hidden" name="pth" value="index-2.html">
		<input type="hidden" name="tpth" value="index-2.html">  
        <input type="hidden" name="ft" value="footerform">  
        <input type="hidden" name="url" value="index-3.html">      
    </div>    

    
    
</div>
</div>
</div>

    </div>
        </div>
	    <div class="form-handle">
		<p class="p-text">Get Quick Quote </p>
        </div>
</div>

    <div class="side-bars">
	<!--div class="s-bar clear">
 <a href="javascript:;" title="Skype Call">
<div class="call-spr"><i class="right-fa fa fa-phone"></i></div>
<p>Reach us at :</p>
 <span class="pnumlive">+91 96008 50864 </span></a>
</div>
<div class="s-bar clear">
 <a href="javascript:;" target="_self" onClick="setButtonURL();" title="Live Chat">
<div class="chat-spr"><i class="right-fa fa fa-envelope"></i></div>
<p>For any quiries :</p>
 <span class="pnumlive">hr@skyappzsoftware.in</span></a>
</div-->
</div>
</div>

<div class="cus-overlay"></div>


  
    