<div class="masthead masthead-inner aboutus">
  <div id="particles-js"></div>
  <div class="google-glass">
    <div class="cyclebanner">
      <div class="container">

        <map name="req-quote" class="banner-quote">
          <area shape="rect" coords="0,310,360,430" href="javascript:;" title="Request Quote" rel="nofollow"
            alt="Request Quote" />
        </map>
      </div>
    </div>
  </div>



</div>

<div class="websec home-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="coe_message">

          <h1>Enabling Ecommerce Every Where <div class="site-btn pull-right">
              <a href="contact" class="btn ard btn-1">
                <span class="txt" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"
                  mdbWavesEffect>Start Now</span>
                <span class="round"><i class="fa fa-chevron-right"></i></span>
              </a> </div>
          </h1>
          <h2 class="font-x-large text-left">Want to see first? Get a Personalized Demo
          </h2>
          <p>
            Offering seamless buying experiences to customers whenever and wherever they are
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="assets/images/webdevelopment/ecommerce.jpg">
      </div>
      <div class="col-md-6 text-left">
        <h2><b>Android and iOS App</b></h2>
        Increase, retain and engage your customers with your full-fledged branded native ecommerce apps. Skyappz comes
        with branded native Android and iOS apps, which gives you full mobile commerce capabilities. <br>
        <h2 class="mt-3"><b>Responsive Website</b></h2>
        Our website gives you everything you need to delight customers, make Google happy, boost sales, and generate
        more revenue including themes and personlization. <br>
        <h2 class="mt-3"><b>Progressive Web App</b></h2>With Skyappz’s progressive web app (PWA) solution, your mobile website
        visitors get the same buying experience as a native mobile app.
      </div>
    </div>
  </div>
  <div class="container mr-t">
    <div class="row">
      <div class="col-md-12 col-lg-10 col-md-offset-1 mb-5">
        <h1 class="text-center">What can I do with Skyappz?
        </h1>
        <div class="dotted-bdr-dark"></div>
        <div class="dotted-bdr-dark"></div>
        <div class="dotted-bdr-dark"></div>

      </div>
      <div class="row ScreeniPad">
        <div class="col-md-3 col-md-offset-1 col-sm-4 col-xs-4 col-lg-2">
          <i class="fa fa-pen fae"></i>
          <h2 class="text-center">Create and Personalize Apps/Websites (iOS and Android Apps)
          </h2>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-4 col-lg-2">
          <i class="fa fa-list fae"></i>
          <h2 class="text-center">Manage Catalog and Inventory
          </h2>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-4 col-lg-2">
          <i class="fa fa-bullhorn fae"></i>
          <h2 class="text-center">Promote your App – SMS and Push Notifications
          </h2>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-4 col-lg-2">
          <i class="fa fa-credit-card fae"></i>
          <h2 class="text-center">Accept Orders and Payment
          </h2>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-4 col-lg-2">
          <i class="fa fa-truck fae"></i>
          <h2 class="text-center">Manage Delivery
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="web-bg" style="margin-top: 30px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white text-center">Who uses Skyappz to create their iOS & Android Retail App?
          </h1><br>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="text-left web-bg-text text-white">
            <p style="text-align: left;"><img src="assets/images/webdevelopment/e1.png"
                style="float:left;margin-right: 15px;" width="30%"><b>PWA eCommerce Website for Mobile and Desktop
              </b>
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="text-left web-bg-text text-white">
            <p style="text-align: left;"><img src="assets/images/webdevelopment/e2.png"
                style="float:left;margin-right: 15px;" width="30%"><b>Native iOS and Android App
              </b>

            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="text-left web-bg-text text-white">
            <p style="text-align: left;"><img src="assets/images/webdevelopment/e3.png"
                style="float:left;margin-right: 15px;" width="30%"><b>No Big Investment

              </b>

            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="text-left web-bg-text text-white">
            <p style="text-align: left;"><img src="assets/images/webdevelopment/e4.png"
                style="float:left;margin-right: 15px;" width="30%"><b>Pay As You Go (SaaS Model)

              </b>

            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="text-left web-bg-text text-white">
            <p style="text-align: left;"><img src="assets/images/webdevelopment/e5.png"
                style="float:left;margin-right: 15px;" width="30%"><b>Incredible Performance

              </b>

            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="text-left web-bg-text text-white">
            <p style="text-align: left;"><img src="assets/images/webdevelopment/e6.png"
                style="float:left;margin-right: 15px;" width="30%"><b>No IT and Server Maintenance

              </b>

            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="text-left web-bg-text text-white">
            <p style="text-align: left;"><img src="assets/images/webdevelopment/e7.png"
                style="float:left;margin-right: 15px;" width="30%"><b>Free Maintenance and Upgrades

              </b>

            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="text-left web-bg-text text-white">
            <p style="text-align: left;"><img src="assets/images/webdevelopment/e8.png"
                style="float:left;margin-right: 15px;" width="30%"><b>Dedicated Training & Support

              </b>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mr-t">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-center">Sale Booster Features
        </h1>
        <h2 class="font-x-large text-center">Maximize sales using in-built promotional features into Skyappz
        </h2>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-4">
            <img src="assets/images/webdevelopment/e10.png">
            <h2 class="text-center">Push Notifications
            </h2>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-4">
            <img src="assets/images/webdevelopment/e9.png">
            <h2 class="text-center">SEO Friendly Website</h2>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-4">
            <img src="assets/images/webdevelopment/e11.png">
            <h2 class="text-center">Discount and Coupons</h2>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-4">
            <img src="assets/images/webdevelopment/e12.png">
            <h2 class="text-center">Social Media Sharing</h2>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-4">
            <img src="assets/images/webdevelopment/e13.png">
            <h2 class="text-center">10X faster checkout</h2>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-4">
            <img src="assets/images/webdevelopment/e14.png">
            <h2 class="text-center">QR Code/Deep Link</h2>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <img src="assets/images/webdevelopment/ecommerce.jpg">
      </div>
    </div>
  </div>
  <div class="call-us-bg">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-white text-center">Reach out to us</h2>
        <h1 class="text-white text-center call-us" style="text-align: center;">Have an idea for an app, talk to us today
          <br>for a free consultation! </h1><br>
        <div class="site-btn">
          <a href="contact" class="btn ard btn-1">
            <span class="txt">Get in Touch</span>
            <span class="round"><i class="fa fa-chevron-right"></i></span>
          </a> &nbsp;
          <a href="tel:+919994479923" class="btn ard btn-1">
            <span class="txt">Call us: +91 99944 79923</span>
            <span class="round"><i class="fa fa-chevron-right"></i></span>
          </a> &nbsp;
          <a href="mailto:hr@skyappzsoftware.in" class="btn ard btn-1">
            <span class="txt">Email Us</span>
            <span class="round"><i class="fa fa-chevron-right"></i></span>
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="container mr-t">
    <div class="row ecommerce_last_sec">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="call-us">Why to choose Skyappz for Your eCommerce Business
        </h1>
        <h2 class="font-x-large text-left"><b>

          </b></h2>

        <div class="row">
          <div class="col-md-6">
            <h2 class="text-left choose-c "><img src="assets/images/webdevelopment/e15.png" class="e-icon "> Apparel and
              Fashion Stores
            </h2>
          </div>
          <div class="col-md-6">
            <h2 class="text-left choose-c "><img src="assets/images/webdevelopment/e16.png" class="e-icon "> Restaurants
            </h2>

          </div>
          <div class="col-md-6">
            <h2 class="text-left choose-c "><img src="assets/images/webdevelopment/e17.png" class="e-icon ">Grocery
              Stores

            </h2>
          </div>
          <div class="col-md-6">
            <h2 class="text-left choose-c "><img src="assets/images/webdevelopment/e18.png" class="e-icon ">Vegetable
              Shops

            </h2>

          </div>
          <div class="col-md-6">
            <h2 class="text-left choose-c "><img src="assets/images/webdevelopment/e19.png" class="e-icon "> Pharmacy &
              Medical Store

            </h2>
          </div>
          <div class="col-md-6">
            <h2 class="text-left choose-c "><img src="assets/images/webdevelopment/e20.png" class="e-icon ">Bakery &
              Confectionery Stores

            </h2>

          </div>
          <div class="col-md-6">
            <h2 class="text-left choose-c "><img src="assets/images/webdevelopment/e21.png" class="e-icon ">Flower and
              Decoration Shops

            </h2>

          </div>
          <div class="col-md-6">
            <h2 class="text-left choose-c Cosmetic_Sec"><img src="assets/images/webdevelopment/e22.png"
                class="e-icon ">Cosmetic

            </h2>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Start Your Project</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->

      <div class="modal-body">
        <mdb-card-body class="px-lg-5 pt-0 mr-t">
          <form class="example-form">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Name</mat-label>
              <input type="text" matInput placeholder="" [formControl]="nameFormControl" value="">
              <mat-error *ngIf="nameFormControl.hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Phone Number</mat-label>
              <input type="text" matInput placeholder="" [formControl]="phoneFormControl" value="">
              <mat-error *ngIf="phoneFormControl.hasError('required')">
                Phone Number is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" placeholder="">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Share Your Requirements</mat-label>
              <textarea matInput placeholder=""></textarea>
            </mat-form-field>
            <div class="site-btn form-bottom">
              <a href="#" class="btn btn-1">
                <span class="txt">Submit Your Query</span>
                <span class="round"><i class="fa fa-chevron-right"></i></span>
              </a>
            </div>
          </form>

        </mdb-card-body>

      </div>
      <!--Footer-->

    </div>
  </div>
</div>
