<div class="masthead masthead-inner aboutus">
    <div id="particles-js"></div>
        <div class="google-glass">
        <div class="cyclebanner">
            <div class="container">
            	
                <map name="req-quote" class="banner-quote">
                     <area shape="rect" coords="0,310,360,430" href="javascript:;" title="Request Quote" rel="nofollow" alt="Request Quote" />
                </map>
            </div>
        </div>
        </div>
</div>

<div class="websec home-sec">
<div class="testimonails pt-100">
    <div class="container block aw-rec">
      <div class="col-lg-12">
        <h2>What do clients say about Skyappz Software?</h2>
        <p class="text-center font-large">Our design & development teams offer you very high quality projects to
          make your
  
          business develop</p>
      </div>
      <div class="clear"></div>
      <div class="dotted-bdr"></div>
      <div class="dotted-bdr"></div>
      <div class="dotted-bdr"></div>
      <div class="col-lg-6">
        <div class="cycle-wrap">
          <div class="cycle-slideshow" data-cycle-fx=slide data-cycle-timeout=8000 data-cycle-pager=".pager"
            data-cycle-slides=""> 
            <mdb-carousel [isControls]="false" [animation]="'slide'">
            
              <mdb-carousel-item>
                <div class="test_details">
                  <img src="assets/images/new/clients/testimonial-sample.jpg" alt="Mark Anderson Exevutive Director" />
                  <p class="test_say col-md-12">
                    <span class="test_name">-Rajkanth Ramanujam,,<i class="fa fa-user"></i> <span>Krishan Infinite Space Pvt ltd,  <i
                          class="fa fa-briefcase" aria-hidden="true"></i> Coimbatore <i class="fa fa-map-marker"></i>
                      </span> </span>
                    "It’ll save you a lot of time and effort if you’re internally aligned first on the business processes and requirements so that you don’t have to go back and change things. As I mentioned, Skyappz  delivers quickly, so if the target is continually moving from an internal standpoint, the team will have to make a lot more changes."
                  
                  </p>
    
    
    
                  <div class="clear"></div>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="test_details">
                  <img src="assets/images/new/clients/testimonial-sample.jpg" alt="Mark Anderson Exevutive Director" />
                  <p class="test_say col-md-12">
                    <span class="test_name">-K.Koushik Prabhu, MD <i class="fa fa-user"></i> <span>
                      Maya Bazaar <i
                          class="fa fa-briefcase" aria-hidden="true"></i> , Coimbatore <i class="fa fa-map-marker"></i>
                      </span> </span>
                      “What a great experience I had working with Skyapp . My company needed a well-designed, user-friendly mobile application that doesn’t burn my business budget but still provides me with high ROI. Skyappz did a great job!”
																				
                  </p>
                  <div class="clear"></div>
                </div>
             </mdb-carousel-item>
             <mdb-carousel-item>
              <div class="test_details" style="margin-bottom: 0;">
                <img src="assets/images/new/clients/testimonial-sample.jpg" alt="Mark Anderson Exevutive Director" />
                <p class="test_say col-md-12">
                  <span class="test_name">-Giridhar, Architect,<i class="fa fa-user"></i> <span>Chief Of Operations, <i
                        class="fa fa-briefcase" aria-hidden="true"></i> , Hyderabad <i class="fa fa-map-marker"></i>
                    </span> </span>
                  "I am the Chief Operation of greymatterdesigns. We have an Application where Clients can search
                  for the Our service provider closest to them. They can search by location, Browse our Project
                  type, as well as the quality and reviews from other Clients who have dealt with these providers.
                  Whether we are creating memorable experiences for sports fans; providing a world away to resort
                  guests; or enabling teens living with cancer to support one another, we believe design can change
                  people’s lives for the better. We collect them all in one app where clients can find them easily
                  and with good feedback from other Clients."
                </p>
  
  
  
                <div class="clear"></div>
              </div>
           </mdb-carousel-item>
             <mdb-carousel-item>
              <div class="test_details">
                <img src="assets/images/new/clients/testimonial-sample.jpg" alt="Mark Anderson Exevutive Director" />
                <p class="test_say col-md-12">
                  <span class="test_name">-K.Koushik Prabhu, MD <i class="fa fa-user"></i> <span>
                    Maya Bazaar <i
                        class="fa fa-briefcase" aria-hidden="true"></i> , Coimbatore <i class="fa fa-map-marker"></i>
                    </span> </span>
                    “What a great experience I had working with Skyapp . My company needed a well-designed, user-friendly mobile application that doesn’t burn my business budget but still provides me with high ROI. Skyappz did a great job!”
                                      
                </p>
                <div class="clear"></div>
              </div>
           </mdb-carousel-item>
           <mdb-carousel-item>
            <div class="test_details">
              <img src="assets/images/new/clients/testimonial-sample.jpg" alt="Mark Anderson Exevutive Director" />
              <p class="test_say col-md-12">
                <span class="test_name">-Dr.Somakanthan Somalingam
                  CEO,<i class="fa fa-user"></i> <span>, Techbuzz  <i
                      class="fa fa-briefcase" aria-hidden="true"></i> , Germany. <i class="fa fa-map-marker"></i>
                  </span> </span>
                  "Highly responsive, customer focused company that fulfilled our needs in a timely and very professional manner. 
                  The survey, analysis, and report were delivered as expected and provided us with insights into where our organization 
                  can benefit from additional project management training. I highly recommend them!"
                                                       
              </p>
              <div class="clear"></div>
            </div>
         </mdb-carousel-item>
            </mdb-carousel>
           
              <div class="clear"></div>
            </div>
  
        </div>
      </div>
      <div class="col-lg-6">
        <div class="cycle-wrap">
          <div class="cycle-slideshow" data-cycle-fx=slide data-cycle-timeout=8000 data-cycle-pager=".pager"
            data-cycle-slides=""> 
            <mdb-carousel [isControls]="false" [animation]="'slide'">
              <mdb-carousel-item>
                <div class="test_details">
                  <img src="assets/images/new/clients/testimonial-sample.jpg" alt="Mark Anderson Exevutive Director" />
                  <p class="test_say col-md-12">
                    <span class="test_name">-P.Kathirvel, Managin Director,<i class="fa fa-user"></i> <span> Sri Murugalaya Silk House <i
                          class="fa fa-briefcase" aria-hidden="true"></i> , India   <i class="fa fa-map-marker"></i>
                      </span> </span>
                      "Skyappz software India (p) ltd., is a great company to work with and as they have in depth and extensive experience in mobile front and back end development and project management. Their team members are able to handle
                      complex problems and to take stress of the clients shoulders and ensure that delivery in all aspects of the projects are fulfiled."</p>
    
    
    
                  <div class="clear"></div>
                </div>
             </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="test_details">
                  <img src="assets/images/new/clients/testimonial-sample.jpg" alt="Mark Anderson Exevutive Director" />
                  <p class="test_say col-md-12">
                    <span class="test_name">- Sankar, Managing Director,<i class="fa fa-user"></i> <span>Metroplastic Pvt ltd <i
                          class="fa fa-briefcase" aria-hidden="true"></i> , Salem  <i class="fa fa-map-marker"></i>
                      </span> </span>
                      “I like the relationship we have with them. Skyappz is more than just a software partner; we have a personal and business relationship. Additionally, their coding is high-quality and so are their team members.” 
																							
                  </p>
    
    
    
                  <div class="clear"></div>
                </div>
              </mdb-carousel-item>
              <mdb-carousel-item>
                <div class="test_details">
                  <img src="assets/images/new/clients/testimonial-sample.jpg" alt="Mark Anderson Exevutive Director" />
                  <p class="test_say col-md-12">
                    <span class="test_name">-Gopinath, <i class="fa fa-user"></i> <span>GL Consulting & HR Solutions Pvt Ltd <i
                          class="fa fa-briefcase" aria-hidden="true"></i> , Salem <i class="fa fa-map-marker"></i>
                      </span> </span>
                      "Skyappz is great at taking the business and technical requirements and making sure that they use best practices and coding to come up with a solution and see the project to completion. The component was part of a larger project to rebrand and retool our customer process.
                      The initial beta feedback that we’ve received from the clients has been really good. The tool is much faster than the legacy in-house solution we were using, looks nice, and is easier to manage."	
                  </p>
    
    
    
                  <div class="clear"></div>
                </div>
             </mdb-carousel-item>
             <mdb-carousel-item>
              <div class="test_details">
                <img src="assets/images/new/clients/testimonial-sample.jpg" alt="Mark Anderson Exevutive Director" />
                <p class="test_say col-md-12">
                  <span class="test_name">-Dr Senthil Nachimuthu,<i class="fa fa-user"></i> USA <i class="fa fa-map-marker"></i>
                     </span>
                    “The reason why Skyappz  so successful is because of their professionalism towards each project."   </p>
  
  
  
                <div class="clear"></div>
              </div>
           </mdb-carousel-item>
               <mdb-carousel-item>
            <div class="test_details">
              <img src="assets/images/new/clients/testimonial-sample.jpg" alt="Mark Anderson Exevutive Director" />
              <p class="test_say col-md-12">
                <span class="test_name">- Suresh, CEO & Managing Director,<i class="fa fa-user"></i> <span>Aakash Pure Aqua Tech Pvt Ltd.
               <i
                      class="fa fa-briefcase" aria-hidden="true"></i> , Salem <i class="fa fa-map-marker"></i>
                  </span> </span>
                  “Thank you to you and your team for all of your efforts. I know this project has not been easy. I appreciate you offering to get a Success plan together.” 
																							                  
              </p>
              <div class="clear"></div>
            </div>
         </mdb-carousel-item>
            </mdb-carousel>
           
              <div class="clear"></div>
            </div>
  
        </div>
      </div>
    </div>
  </div>
  <div class="container mr-t">
      <div class="row mb-0">
          <div class="col-md-3 col-sm-3 col-xs-6">
              <div class="logo-wrapper">
              <img src="assets/images/logos/Aakash Aqua Tech Pvt Ltd.png">
             </div>
        </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="logo-wrapper">
            <img src="assets/images/logos/premier.png">
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="logo-wrapper">
            <img src="assets/images/logos/jp.png">
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="logo-wrapper">
            <img src="assets/images/logos/iqvia.png">
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="logo-wrapper">
            <img src="assets/images/logos/Teqbuzz.png">
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="logo-wrapper">
            <img src="assets/images/logos/kbc.png">
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="logo-wrapper">
            <img src="assets/images/logos/CarnivalStudios.png">
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="logo-wrapper">
            <img src="assets/images/logos/covn.png">
            </div>
         </div>
        
         <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="logo-wrapper">
            <img src="assets/images/logos/mayabazaar.png">
            </div>
         </div>
        
         <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="logo-wrapper">
            <img src="assets/images/logos/NammaKadai.png">
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="logo-wrapper">
            <img src="assets/images/logos/sri arumugha.png">
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="logo-wrapper">
            <img src="assets/images/logos/legacy.png">
            </div>
         </div>
         <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="logo-wrapper">
          <img src="assets/images/logos/yeloo.png">
          </div>
       </div>
       <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="logo-wrapper">
        <img src="assets/images/logos/NAmma Technology black.png">
        </div>
     </div>
     <div class="col-md-3 col-sm-3 col-xs-6">
      <div class="logo-wrapper">
      <img src="assets/images/logos/Namma Carnival.png">
      </div>
   </div>
   <div class="col-md-3 col-sm-3 col-xs-6">
    <div class="logo-wrapper">
    <img src="assets/images/logos/Namma Culture_V04.png">
    </div>
 </div>
      </div>
  </div>
</div>