<div class="masthead masthead-inner aboutus">
    <div id="particles-js"></div>
    <div class="google-glass">
        <div class="cyclebanner">
            <div class="container">

                <map name="req-quote" class="banner-quote">
                    <area shape="rect" coords="0,310,360,430" href="javascript:;" title="Request Quote" rel="nofollow"
                        alt="Request Quote" />
                </map>
            </div>
        </div>
    </div>



</div>

<div class="websec home-sec">

    <div class="container">
        <div class=" digital-carousel">
        <h1>Get In Touch</h1>
                    <p>
                        We know. You need a goal focused, result driven development partner. We would like to work with great minds. Like you!.
                    </p></div>
        <div class="row-fluid">

            <div class="col-md-5 cform-wrap col-sm-12 col-xs-12">
                <h1 class="font-x-large mr-t" style="text-align: center;">Send Enquiry Now</h1>
                <mdb-card>
                    
                      <mdb-card-body class="px-lg-5 pt-0 mr-t">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form" >
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Name</mat-label>
                                <input type="text" name="name" matInput placeholder="" formControlName="username" required value="">
                               </mat-form-field>
                              <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Phone Number</mat-label>
                                <input type="text"name="number" matInput placeholder="" formControlName="phonenumber" required value="">
                              </mat-form-field>
                              <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Email</mat-label>
                                <input type="email" name="email" matInput formControlName="email" required placeholder="">
                                
                              </mat-form-field>
                              <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Message</mat-label>
                                <textarea name="msg" matInput placeholder="" required></textarea>
                              </mat-form-field>
                              <div class="site-btn form-bottom">
                                <button type="submit" color="primary" class="start-btn waves-light" [disabled]="!form.valid">Submit</button>
                                <!--a href="" class="btn btn-1">
                                                  <button class="txt" type="submit" [disabled]="!form.valid">Submit Your Query
                                                    <span class="round"><i class="fa fa-chevron-right"></i></span></button>
                                                </a-->
                                                </div>
                          </form>
                          
                    </mdb-card-body>
                  
                  </mdb-card>
                
            </div>

            <div class="col-md-7 col-sm-12 col-xs-12 cform-wrap">
                
            <div class="contact_query">
                <div class="row">
                    
                    <div class="query_person special col-lg-5 col-md-5 col-sm-10 col-xs-10">
                        <p>India</p>

                        <p><strong><img src="../assets/images/new/contact/mob.png" /></strong> :+91-9994479923 </p>
                        <p> <strong><img src="../assets/images/new/contact/mob.png" /></strong> : +91-9600850864
                            0099<strong><img src="../assets/images/new/contact/watsapp.png" /></strong></p>
                        <p><strong><img src="../assets/images/new/contact/email.png" /></strong> :info@skyappzsoftware.in
                            <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hr@skyappzsoftware.in
                        </p>
                        <p><strong><img src="../assets/images/new/contact/skype.png" /></strong> : +91-9600850864</p>

                    </div>

                    <div class="query_person special col-lg-5 col-md-5 col-sm-10 col-xs-10">
                        <div itemscope itemtype="#">
                            <p>Coimbatore</p>
                          <p><strong><img src="../assets/images/new/contact/address.png" /></strong> :
                                <span itemprop="name">Skyappz Software India Pvt Ltd,</span>
                                <span itemprop="streetAddress"> Krisan Business Centre,
                                    Mayflower Valencia, 3B, 5th & 7th FLOOR,
                                     Old/New 1264B, Avinashi Road, 
                                    </span>
                               <span itemprop="addressLocality">(Between KFC and Ford Showroom)  </span>
                               <span itemprop="addressRegion"> Nava India</span> <span
                                   itemprop="postalCode"> Coimbatore – 641004</span>
                           
                        </div>
                    </div>
                    <div class="query_person special col-lg-5 col-md-5 col-sm-10 col-xs-10">
                        <div itemscope itemtype="#">
                            <p>Singapore</p>
                          <p style="text-align: left;"><strong><img src="../assets/images/new/contact/address.png" /></strong> :
                                <span itemprop="name">Woodlands,</span>
                                <span itemprop="streetAddress"> Mega woodlands, 39 Woodlands close Singapore - 737856.
                                    </span>
                              
                        </div>
                    </div>
                    <div class="query_person special col-lg-5 col-md-5 col-sm-10 col-xs-10">
                        <div itemscope itemtype="#">
                            <p>Germany</p>
                          <p style="text-align: left;"><strong><img src="../assets/images/new/contact/address.png" /></strong> :
                                <span itemprop="name">Darmstadt,</span>
                                <span itemprop="streetAddress"> Goldparmänenweg 4, 64297 Darmstadt, Germany
                                    </span>
                              
                        </div>
                    </div>
                </div>
            </div>
            </div>


        </div>
    </div>

</div>