<div class="main-container">
    <div class="whats-app col-md-4">
        <ul>
            <li>
                <a class="whatsapp tada" data-wow-duration="2s" data-wow-delay="1.5s" data-wow-iteration="infinite  " href="https://api.whatsapp.com/send?phone=919994479923&amp;text=Hi,%20I%20Want%20to%20discus%20with%20you%20regarding%20a%20project.." target="_blank"><img src="assets/images/whatsapp.png" width="60%"></a>
            </li>
            <li><a href="{{ph_number}}" class="call tada" data-wow-duration="2s" data-wow-delay="2s" data-wow-iteration="infinite  "><i class="fa fa-phone"></i></a>
                <div class="seemore">
                    <div class="phone-no">
                        <h3>Let us call you back</h3>
                        <p>Send your mobile number</p>

                        <div class="field">
                            <div class=" col-md-12">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <input name="txt_phone" type="text" maxlength="15" id="txt_phone" class="form-control" placeholder="Share Your Mobile No" />
                                            <span id="RegularExpressionValidator1" style="color:Red;visibility:hidden;">Only Numbers
                            allowed</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="site-btn form-bottom">
                            <a href="javascript:void(0)" class="btn btn-1">
                                <input type="submit" name="btn_sendphone" value="Submit" />
                                <span class="txt">Submit</span>
                                <span class="round"><i class="fa fa-chevron-right"></i></span>
                            </a>
                        </div>
                        <a class="cancel"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="particles">

        <header>
            <div class="header-top">

                <div class="container-fluid">

                    <div class="row">
                        <!--ul class="top-nav-bar col-lg-3 col-sm-12 text-right pull-right">
              <li><a href="blog/index.html">Blog</a></li>
              <li><a href="careers/careers.html"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Careers</a></li>
              </ul-->
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 pull-left logo-container">
                            <div class="main-logo">
                                <div class="logo">
                                    <div>
                                        <a href="home" router-link="home">
                                            <img title="" alt="Skyappz Logo" src="assets/images/logo.png" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="fixed-header-logo bounceInDown">
                                <a href="home" router-link="home"><img title="" alt="Skyappz Logo" src="assets/images/logo.png" /></a>

                            </div>
                        </div>


                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8 nav-container">
                            <nav class="navbar navbar-default">
                                <!--Navbar-->
                                <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark">

                                    <!-- Collapsible content -->
                                    <links>

                                        <!-- Links -->
                                        <ul class="nav navbar-navo">
                                            <li><a href="home" router-link="home"><span><img
          src="assets/images/house.png">&nbsp;&nbsp;</span></a></li>
                                            <li class="">
                                                <a href="javascript:Void(0)"><span>Company <i class="fa fa-chevron-down"
                  aria-hidden="true"></i></span></a>
                                                <ul id="submenu" class="about_sub">
                                                    <li><a href="about" router-link="about">About us</a> </li>
                                                    <li><a href="mission" router-link="mission">Mission, vision </a> </li>
                                                    <li><a href="ceo" router-link="ceo">CEO message</a> </li>
                                                    <li><a href="clients" router-link="clients">Clients</a> </li>
                                                    <div class="clear"></div>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a href="javascript:void(0)"><span>Mobile Application <i class="fa fa-chevron-down"
              aria-hidden="true"></i></span></a>
                                                <ul id="submenu" class="mobile_services_sub">
                                                    <li><a href="android" router-link="android">Android App Development</a> </li>
                                                    <li><a href="ios" router-link="ios">iOS App Development</a> </li>
                                                    <li><a href="iot" router-link="iot">IOT App Development</a> </li>
                                                    <li><a href="flutterapp" router-link="flutterapp">Flutter App Development</a> </li>
                                                    <li><a href="appsupport" router-link="appsupport">Apps and Support</a> </li>
                                                    <li><a href="appoverview" router-link="appoverview">Mobile App Development Overview</a> </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a href="javascript:void(0)"><span>Web Development <i class="fa fa-chevron-down"
              aria-hidden="true"></i></span></a>
                                                <ul id="submenu" class="mobile_services_sub">
                                                    <li><a href="angular" router-link="angular">Angular Development</a> </li>
                                                    <!--li><a href="react-native" router-link="react-native">React Native Development</a> </li-->
                                                    <li><a href="node-js" router-link="node-js">Node.js Development</a> </li>
                                                    <li><a href="react-js" router-link="react-js">React Js Development</a> </li>
                                                    <li><a href="frontend" router-link="frontend">Frontend Development</a> </li>
                                                    <li><a href="backend" router-link="backend">Backend Development</a> </li>
                                                    <!--li><a href="ecommerce" router-link="ecommerce">E commerce</a> </li-->
                                                    <li><a href="it-consulting" router-link="it-consulting">IT Consulting</a> </li>
                                                    <li><a href="digital-marketing" router-link="digital-marketing">Digital Marketing</a> </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a href="design" router-link="design"><span>Design</span></a>
                                            </li>
                                            <!--li class="">
            <a href="digital-marketing" router-link="digital-marketing"><span>Digital Marketing</span></a>
             </li-->
                                            <li>
                                                <a href="ecommerce" router-link="ecommerce"><span>E commerce </span></a>
                                            </li>
                                            <!--li class=""><a href="it-consulting" router-link="it-consulting"><span> IT Consulting</span></a></li-->
                                            <!--li class=""><a href="clients" router-link="clients"><span> Clients</span></a></li-->
                                            <!--li class=""><a  href="portfolio" router-link="portfolio"><span> Portfolio</span></a></li-->
                                            <li class=""><a href="career" router-link="career"><span> Careers</span></a></li>
                                            <li class="">
                                                <a href="buynow" router-link="buynow" class="text-center">
                                                    <button type="button" class="start-btn waves-light buy-now"><span> Buy Now</span> </button>
                                                </a>
                                            </li>

                                        </ul>
                                        <!-- Links -->
                                    </links>
                                    <!-- Collapsible content -->

                                </mdb-navbar>
                                <!--/.Navbar-->
                            </nav>
                        </div>

                    </div>
                </div>



            </div>
            <div class="header-bottom">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="country-list">
                                <div class="row">
                                    <div class="col-md-3 col-xs-6">
                                        <li class="india-icon bounceIn" data-wow-duration=".5s" data-wow-delay=".5s">
                                            <a href="Javascript:void(0)"><img src="assets/images/Home/india.png">&nbsp; <b>India : </b>+91 999 4479 923</a>
                                        </li>
                                    </div>
                                    <div class="col-md-3 responsive-none">
                                        <li class="usa-icon bounceIn hidden-phone" data-wow-duration=".5s" data-wow-delay="1s">
                                            <a href="Javascript:void(0)"><img src="assets/images/Home/skype.png">&nbsp; <b>Call :
                      </b>+91 9600850864</a>
                                        </li>
                                    </div>
                                    <div class="col-md-3 responsive-none">
                                        <li class="usa-icon bounceIn hidden-phone" data-wow-duration=".5s" data-wow-delay="1s">
                                            <a href="Javascript:void(0)"><img src="assets/images/Home/gmail.png">&nbsp; <b>Email :
                      </b>info@skyappzsoftware.in </a>
                                        </li>
                                    </div>

                                    <div class="col-md-3 col-xs-6">
                                        <li class="usa-icon bounceIn" data-wow-duration=".5s" data-wow-delay="1s"> <button type="button" class="start-btn waves-light" data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect>
                                             Start Your Project</button></li>

                                    </div>
                                </div>



                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--div class="container">

            <div class="row-fluid">
              <div class="inner pull-right">

                <div class=" pull-right">
                  <div class="">
                    <button type="button" class="start-btn waves-light" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"
                    mdbWavesEffect>Start Your Project</button>
                  </div>
                  <div class="startform">
                    <div class="form-container">
                      <div class="formdv">
                        
                          <p class="sub-head">Get the <i>Initial Designs</i> in just 48 Hours!</p>

                          <div class="clear"></div>

                          <div class="jform validate" data-role="us">
                            <mdb-card>
                    
                              <mdb-card-body class="px-lg-5 pt-0 mr-t">
                                <form class="example-form">
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>Name</mat-label>
                                        <input type="text" matInput placeholder="" [formControl]="nameFormControl" value="">
                                         <mat-error *ngIf="nameFormControl.hasError('required')">
                                            Name is <strong>required</strong>
                                          </mat-error>
                                      </mat-form-field>
                                      <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>Phone Number</mat-label>
                                        <input type="text" matInput placeholder="" [formControl]="phoneFormControl" value="">
                                         <mat-error *ngIf="phoneFormControl.hasError('required')">
                                            Phone Number is <strong>required</strong>
                                          </mat-error>
                                      </mat-form-field>
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>Email</mat-label>
                                        <input type="email" matInput [formControl]="emailFormControl" placeholder="">
                                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                          Please enter a valid email address
                                        </mat-error>
                                        <mat-error *ngIf="emailFormControl.hasError('required')">
                                          Email is <strong>required</strong>
                                        </mat-error>
                                      </mat-form-field>
                                      <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>Message</mat-label>
                                        <textarea matInput placeholder=""></textarea>
                                      </mat-form-field>
                                      <div class="site-btn form-bottom">
                                        <a href="#" class="btn btn-1">
                                                          <span class="txt">Submit Your Query</span>
                                                            <span class="round"><i class="fa fa-chevron-right"></i></span>
                                                        </a>
                                                        </div>
                                  </form>
                                  
                            </mdb-card-body>
                          
                          </mdb-card>

                          </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div-->
        </header>
        <div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Start Your Project</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                  <span aria-hidden="true">×</span>
                </button>
                    </div>
                    <!--Body-->

                    <div class="modal-body">
                        <mdb-card-body class="px-lg-5 pt-0 mr-t">
                            <form class="example-form">
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Name</mat-label>
                                    <input type="text" matInput placeholder="" [formControl]="nameFormControl" value="">
                                    <mat-error *ngIf="nameFormControl.hasError('required')">
                                        Name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Phone Number</mat-label>
                                    <input type="text" matInput placeholder="" [formControl]="phoneFormControl" value="">
                                    <mat-error *ngIf="phoneFormControl.hasError('required')">
                                        Phone Number is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Email</mat-label>
                                    <input type="email" matInput [formControl]="emailFormControl" placeholder="">
                                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                        Please enter a valid email address
                                    </mat-error>
                                    <mat-error *ngIf="emailFormControl.hasError('required')">
                                        Email is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Share Your Requirements</mat-label>
                                    <textarea matInput placeholder=""></textarea>
                                </mat-form-field>
                                <div class="site-btn form-bottom">
                                    <a href="#" class="btn btn-1">
                                        <span class="txt">Submit Your Query</span>
                                        <span class="round"><i class="fa fa-chevron-right"></i></span>
                                    </a>
                                </div>
                            </form>

                        </mdb-card-body>

                    </div>
                    <!--Footer-->

                </div>
            </div>
        </div>