<div class="masthead masthead-inner aboutus">

    <div class="google-glass">
        <div class="cyclebanner" style="height:340px">
        <div class="container">
            
            <map name="req-quote" class="banner-quote">
                 <area shape="rect" coords="0,310,360,430" href="javascript:;" title="Request Quote" rel="nofollow" alt="Request Quote" />
            </map>
        </div>
    </div>
        </div>


</div>
<div class="home-sec">
 
    <section class="section p-t80-b60 cs-section desktop-cs">
        <div class="section-heading text-center">
          <h1 class="text-center">Explore our Portfoilos </h1>
          <div class="dotted-bdr-dark"></div>
          <div class="dotted-bdr-dark"></div>
          <div class="dotted-bdr-dark"></div>
          <h2 _ngcontent-ivi-c16="" class="hidden-phone">Build your solution from scratch or extend your team faster with a
            trusted IT partner.</h2>
        </div>
        <div class="websec container">
          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Android">
              <div class="row mt-5">
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="https://play.google.com/store/apps/details?id=com.skyappz.namma" target="_blank">
                      <img src="assets/images/portfolio/10.png" srcset="assets/images/portfolio/10.png"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3>Namma Matrimony</h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="https://play.google.com/store/apps/details?id=com.skyappz.jobplatform"  target="_blank">
                      <img src="assets/images/portfolio/6.png" srcset="assets/images/portfolio/6.png"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3> Job Platform</h3>
                      </div>
                    </a>
                  </div>
                </div>
                
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="https://play.google.com/store/apps/details?id=com.skyappz.shopify"  target="_blank">
                      <img src="assets/images/portfolio/9.png" srcset="assets/images/portfolio/9.png"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3> Namma Shopify</h3>
                      </div>
                    </a>
                  </div>
                </div>
        
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="https://play.google.com/store/apps/details?id=com.skyappz.nammaclicks"  target="_blank">
                      <img src="assets/images/portfolio/7.png" srcset="assets/images/portfolio/7.png"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3> Namma Clicks</h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="https://play.google.com/store/apps/details?id=com.skyappz.nammapartner"  target="_blank">
                      <img src="assets/images/portfolio/11.png" srcset="assets/images/portfolio/11.png"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3> Namma Partners</h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="https://play.google.com/store/apps/details?id=com.skyappz.nammacarnival"  target="_blank">
                      <img src="assets/images/portfolio/8.png" srcset="assets/images/portfolio/8.png"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3>Namma Carnival</h3>
                      </div>
                    </a>
                  </div>
                </div>
               
              </div>
            </mat-tab>
            <!--mat-tab label="IOS">
              <div class="row mt-5">
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="https://play.google.com/store/apps/details?id=com.harish.harish_shop"  target="_blank">
                      <img src="assets/images/portfolio/5.png" srcset="assets/images/portfolio/5.png"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3> The Online Shop</h3>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </mat-tab-->
            <mat-tab label="Ecommerce">
              <div class="row mt-5">
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="https://play.google.com/store/apps/details?id=com.harish.the_plant_shop" target="_blank">
                      <img src="assets/images/portfolio/1.png" srcset="assets/images/portfolio/1.png"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3>The Plant Shop</h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="https://play.google.com/store/apps/details?id=com.harish.furniture_app/"  target="_blank">
                      <img src="assets/images/portfolio/2.png" srcset="assets/images/portfolio/2.png"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3> Online Furniture Store </h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="https://play.google.com/store/apps/details?id=com.harish.legecyshopapp"  target="_blank">
                      <img src="assets/images/portfolio/3.png" srcset="assets/images/portfolio/3.png"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3> The Legacys shop</h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="https://play.google.com/store/apps/details?id=com.harish.meatapp"  target="_blank">
                      <img src="assets/images/portfolio/4.png" srcset="assets/images/portfolio/4.png"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3> The Meat Shop</h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="https://play.google.com/store/apps/details?id=com.skyappz.nammamandapam"  target="_blank">
                      <img src="assets/images/portfolio/12.png" srcset="assets/images/portfolio/12.png"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3> Namma Mandapam</h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="https://play.google.com/store/apps/details?id=com.harish.harish_shop"  target="_blank">
                      <img src="assets/images/portfolio/5.png" srcset="assets/images/portfolio/5.png"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3> The Online Shop</h3>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Web Design">     
               <div class="row mt-5">
              <div class="col-md-4 col-sm-6 m-b-80">
                <div class="cs-content">
                  <a href="http://krisanbusinesscentre.com/"  target="_blank">
                    <img src="assets/images/portfolio/kbc.jpg" srcset="assets/images/portfolio/kbc.jpg"
                      alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                    <div class="cs-title shadow-box">
                      <h3> Krisan Business Center - Work Place </h3>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 m-b-80">
                <div class="cs-content">
                  <a href="https://nammatechnologies.com/nammamandapam/"  target="_blank">
                    <img src="assets/images/portfolio/nman.jpg" srcset="assets/images/portfolio/nman.jpg"
                      alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                    <div class="cs-title shadow-box">
                      <h3> Namma Mandabam - For Mandabam </h3>
                    </div>
                  </a>
                </div>
              </div>
            
              <div class="col-md-4 col-sm-6 m-b-80">
                <div class="cs-content">
                  <a href="https://nammatechnologies.com/nammaculture"  target="_blank">
                    <img src="assets/images/portfolio/nc.jpg" srcset="assets/images/portfolio/nc.jpg"
                      alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                    <div class="cs-title shadow-box">
                      <h3> Namma Culture - For Services Booking</h3>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 m-b-80">
                <div class="cs-content">
                  <a href="https://nammatechnologies.com/"  target="_blank">
                    <img src="assets/images/portfolio/nt.jpg" srcset="assets/images/portfolio/nt.jpg"
                      alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                    <div class="cs-title shadow-box">
                      <h3> Namma Technology</h3>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 m-b-80">
                <div class="cs-content">
                  <a href="https://nammatechnologies.com/nammaclicks/"  target="_blank">
                    <img src="assets/images/portfolio/nclicks.jpg" srcset="assets/images/portfolio/nclicks.jpg"
                      alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                    <div class="cs-title shadow-box">
                      <h3> Namma Clicks - For Photography </h3>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 m-b-80">
                <div class="cs-content">
                  <a href="https://nammatechnologies.com/nammacarnival/"  target="_blank">
                    <img src="assets/images/portfolio/ncar.jpg" srcset="assets/images/portfolio/ncar.jpg"
                      alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                    <div class="cs-title shadow-box">
                      <h3> Namma Carnival - For Service Booking </h3>
                    </div>
                  </a>
                </div>
              </div>
                  </div>
          </mat-tab>
            <mat-tab label="Application Development">
              <div class="row mt-5">
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="http://www.teqbuzz.com/" target="_blank">
                      <img src="assets/images/portfolio/teqbuzz.jpg" srcset="assets/images/portfolio/teqbuzz.jpg"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3>Teqbuzz - Track Passenger Vehicles</h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="https://nammamatrimony.in/"  target="_blank">
                      <img src="assets/images/portfolio/nm.jpg" srcset="assets/images/portfolio/nm.jpg"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3> Namma Matrimony - Matrimony </h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="https://covn.org/"  target="_blank">
                      <img src="assets/images/portfolio/covenant.jpg" srcset="assets/images/portfolio/covenant.jpg"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3>Covenant - COVID-19</h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="https://skyappzsoftware.in/metroplast/"  target="_blank">
                      <img src="assets/images/portfolio/metro.jpg" srcset="assets/images/portfolio/metro.jpg"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3> Metroplast - Steels & Plastics </h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="http://www.greymatterdesigns.in/"  target="_blank">
                      <img src="assets/images/portfolio/grey.jpg" srcset="assets/images/portfolio/grey.jpg"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3> Grey Matters - Architect</h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="https://jobplatform.co.in/"  target="_blank">
                      <img src="assets/images/portfolio/jp.jpg" srcset="assets/images/portfolio/jp.jpg"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3>Job Platform - Get job Online</h3>
                      </div>
                    </a>
                  </div>
                </div>
               
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="http://vkanya.in/"  target="_blank">
                      <img src="assets/images/portfolio/vkanya.jpg" srcset="assets/images/portfolio/vkanya.jpg"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3>Vkanya - Online Shopping</h3>
                      </div>
                    </a>
                  </div>
                </div>
               
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="http://65.2.131.208/"  target="_blank">
                      <img src="assets/images/portfolio/kongu.jpg" srcset="assets/images/portfolio/kongu.jpg"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3>Kongu Kulalar</h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="https://yeloo.in/"  target="_blank">
                      <img src="assets/images/portfolio/yeloo.jpg" srcset="assets/images/portfolio/yeloo.jpg"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3>Yeloo</h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 m-b-80">
                  <div class="cs-content">
                    <a href="http://legacys.co.in/"  target="_blank">
                      <img src="assets/images/portfolio/legacy.jpg" srcset="assets/images/portfolio/legacy.jpg"
                        alt="pizza delivery app" class="img-responsive shadow-box cs-img" title="pizza delivery app">
                      <div class="cs-title shadow-box">
                        <h3>Legacy - Online Shopping</h3>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </mat-tab>
            </mat-tab-group>
          
        </div>
      </section>
</div>


