<div class="masthead masthead-inner aboutus">
  <div id="particles-js"></div>
  <div class="google-glass">
    <div class="cyclebanner">
      <div class="container">

        <map name="req-quote" class="banner-quote">
          <area shape="rect" coords="0,310,360,430" href="javascript:;" title="Request Quote" rel="nofollow"
            alt="Request Quote" />
        </map>
      </div>
    </div>
  </div>



</div>

<div class="websec home-sec">
  <section class="career-main-section">
    <div class="container ">
      <div class="coe_message">
        <div class="row pd-50">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <h1>CAREER &
              CULTURE AT</h1>
            <h2 class="font-x-large text-left"><b><span class="skyappz">SKYAPPZ</span> &nbsp;
                <span class="software">SOFTWARE</span> </b></h2>
            <p>
              Our values underpin our company culture. They describe the professional behaviors we expect from our
              employees. These values are an integral part of the framework we use to recruit people, develop them, and
              assess and reward their performance.
            </p>
            <p>We are looking for some fresh talents who can add cultural values at Skyappz Software, some one who has
              the same mission that is ours but also can bring diversity at the same time.</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="assets/images/company/about.png" style="width: 100%;">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section career-about-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 visible-xs visible-sm">
          <img src="assets/images/career/about-bg.jpg" alt="perks to work with us" title="Perks to Work With Us"
            class="img-responsive img-thumbnail m-b-30">
        </div>
        <div class="col-md-12 col-lg-7 col-md-offset-5">
          <div class="career-about-heading">
            <h2 class="career-sub-heading"> Perks to work with <span class="skyappz">Skyappz</span> <span
                class="software">Software</span>: </h2>
            <p class="career-info">
              The benefits to work with Skyappz Software are in a way very motivating. We take care of work life balance
              and establish any of the processes keeping employees on mind.
            </p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="c-icon-block">
                <img src="assets/images/career/office-chair.png" alt="work hours" title="Work Hours"
                  class="c-about-icon img-responsive">
                <div class="">
                  <h3 class="m-t-0"> Flexible working hours </h3>
                  <p>
                    We are a work oriented company where work is our priority. According to our research, flexible
                    working hours are one of the factors which lessen your stress from work.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="c-icon-block">
                <img src="assets/images/career/confetti.png" alt="company activities" title="Company Activities"
                  class="c-about-icon img-responsive">
                <div class="">
                  <h3 class="m-t-0"> Company Activities </h3>
                  <p>
                    Fun is an integral part at Skyappz Software. We celebrate together, play together and work together
                    at the same time. We arrange fun activities at office frequently to loosen up your stress.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="c-icon-block">
                <img src="assets/images/career/hand-shake.png" alt="colleagues" title="Colleagues"
                  class="c-about-icon img-responsive">
                <div class="">
                  <h3 class="m-t-0"> Awesome Co-Workers </h3>
                  <p>
                    Everyone at Skyappz Software maintains cordial relationships with peers. Though we have different
                    departments but we are a big team.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="c-icon-block">
                <img src="assets/images/career/transparency.png" alt="transparency" title="Transparency"
                  class="c-about-icon img-responsive">
                <div class="">
                  <h3 class="m-t-0"> Transparency from top to bottom: </h3>
                  <p>
                    We at Skyappz Software preserve complete transparency through each hierarchy. Everyone has a right
                    to put their point of view and freedom to speak.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="c-icon-block">
                <img src="assets/images/career/salary.png" alt="salaries" title="salaries"
                  class="c-about-icon img-responsive">
                <div class="">
                  <h3 class="m-t-0"> Competitive Salaries </h3>
                  <p>
                    Skyappz Software values a true talent and everyone gets their fair part of salary. We believe in
                    performance so there is no bar for right skills.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="c-icon-block">
                <img src="assets/images/career/graphics.png" alt="growth" title="Growth"
                  class="c-about-icon img-responsive">
                <div class="">
                  <h3 class="m-t-0"> Growth Opportunity: </h3>
                  <p>
                    Growth is never ending at Skyappz Software. Whether it is about monetary or skills &amp; talent or
                    personal growth, everything is taken care of. The company has a goal to “Grow together”.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section career-interview-section mr-t">
    <div class="container">
      <div class="row">
        <div class="col-md-12 m-b-40">
          <div class="career-about-heading text-center">
            <div class="section-heading text-center">
              <h1 style="text-align: center;">Process of Interview</h1>
              <div class="dotted-bdr-dark"></div>
              <div class="dotted-bdr-dark"></div>
              <div class="dotted-bdr-dark"></div>
              <h2 _ngcontent-ivi-c16="" class="hidden-phone"> Selection of any candidate is purely depended on their
                performance in the interview process. Generally, there are three stages in the interview process which
                are as follows.
              </h2>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="interview-block">
            <img src="assets/images/career/interview.png" alt="hr interview" title="HR Interview">
            <h4> HR Interview </h4>
            <p style="text-align: center;">
              At a first stage a candidate would appear for HR screening where they would be asked question related to
              adaptability, leadership, growth potential etc.,
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="interview-block">
            <img src="assets/images/career/meeting.png" alt="personal interview" title="Personal Interview">
            <h4> Personal Interview </h4>
            <p style="text-align: center;">
              Personal Interview of a candidate contains the technical questions related to their domain.
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="interview-block">
            <img src="assets/images/career/working.png" alt="practical round" title="Practical Round">
            <h4> Practical Round </h4>
            <p style="text-align: center;">
              This part of interview is the last stage where you need to perform a program practically and show the
              output of the same.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <!-- Gallery -->
    <div class="row career_last_sec">
      <div class="col-lg-4 col-md-4 mb-4 mb-lg-0">
        <img src="assets/images/career/office-2.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

        <img src="assets/images/career/office-5.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
      </div>

      <div class="col-lg-4  col-md-4 mb-4 mb-lg-0">
        <img src="assets/images/career/office-1.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

        <img src="assets/images/career/office-3.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
      </div>

      <div class="col-lg-4 col-md-4 mb-4 mb-lg-0">
        <img src="assets/images/career/office-4.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

        <img src="assets/images/career/office-6.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />
      </div>
    </div>
    <!-- Gallery -->
  </div>

</div>
