<div class="masthead masthead-inner aboutus">
    <div id="particles-js"></div>
        <div class="google-glass">
        <div class="cyclebanner">
            <div class="container">
            	
                <map name="req-quote" class="banner-quote">
                     <area shape="rect" coords="0,310,360,430" href="javascript:;" title="Request Quote" rel="nofollow" alt="Request Quote" />
                </map>
            </div>
        </div>
        </div>


    
</div>

<div class="websec home-sec">
	<div class="container">
    	<div class="row">
    	<div class="col-md-12">
           <div class="coe_message">
     
             <h1>Your Digital Partner</h1>
            <h2 class="font-x-large text-left">A technology-driven company with a team of talented technical architects, developers, and designers.</h2>
            <img src="assets/images/company/teamwork.jpg" width="100%">
            <div class="row pd-50">
                <div class="col-md-6">
            <h1>A little about us
            </h1>
            <p>
                Skyappz Software delivers high-end IT solutions to businesses.
                 We offer best class web solutions for your business that helps you
                  to succeed in your ventures. Our team members have worked with various
                   successful startups and large-scale enterprise to produce best IT
                    solutions for various industries. We develop and present new ideas, 
                    concepts, solutions and approaches for client success. We always 
                    focus on critical information and leave out irrelevant or unnecessary
                     details and maintains a high level of professionalism. We believe in
                      dedicated involvement to provide post-implementation support.
            </p>
        </div>
        <div class="col-md-6">
            <video class="video-fluid z-depth-1" autoplay loop controls muted>
                <source src="assets/images/skyappz software.mp4" type="video/mp4" />
            </video></div>
    </div>
        </div>
		</div>
        </div>    
    </div>


<div class="fortune visible-desktop">
    <div class="container">
     
<div class="circle-wrap row">
    <div class="circle col-lg-3 col-md-3 col-sm-3  col-xs-6">
        <input class='knob' type='text' value='35+'>            
        <p>Professionals</p>
    </div>
    <div class="circle col-lg-3 col-md-3 col-sm-3  col-xs-6 ">
        <input class='knob' data-width="150" data-height="150" data-fgColor='#fff' data-bgColor="#fff" data-thickness='.15' type='text' value='3'>            
        <p>Locations

        </p>
    </div>
    <div class="circle col-lg-3 col-md-3 col-sm-3  col-xs-6 ">
        <input class='knob' data-width="150" data-height="150" data-fgColor='#fff' data-bgColor="#fff" data-thickness='.15' type='text' value='8'>            
        <p>Years

        </p>
    </div>
    <div class="circle col-lg-3 col-md-3 col-sm-3  col-xs-6">
        <input class='knob' data-width="150" data-height="150" data-fgColor='#fff' data-bgColor="#fff" data-thickness='.15' type='text' value='10'>            
        <p>Awards</p>
    </div>
  
</div>
    
</div>   
</div>
<div class="container">
    <div class="row">
    <div class="col-md-12">
       <div class="coe_message">
        <div class="row pd-50">
            <div class="col-md-6">
                <img src="assets/images/company/about.png" width="100%">
       
    </div>
    <div class="col-md-6"> 
        <h2 class=" text-left" style="margin-bottom: 5px;"><b>CLIENTS SATISFACTION</b></h2>
    <p>
        When responding to a customer complaint always begin by assuring the customer that you will fix their problem. This immediately removes the adversarial relationship that can lead to messy and expensive confrontations.
    </p>
    <h2 class=" text-left" style="margin-bottom: 5px;"><b>IMPRESS OUR CLIENTS</b></h2>
    <p>
        This is another term related to the reach of your marketing efforts. But instead of focusing on how people interact with your marketing content, it focuses on how many people your social marketing might impact.
    </p>
    <h2 class=" text-left" style="margin-bottom: 5px;"><b>USER FRIENDLY DESIGN</b></h2>
    <p>
        The consistency here does not mean all the pages are the same as each other. Sometimes, a few changes and adjustments in design would effectively keep users not being bored.
    </p>
    <h2 class=" text-left" style="margin-bottom: 5px;"><b>STAND ALONE APP</b></h2>
    <p>
        A program that run as a separate computer process, not an add-on of an existing process. Standalone program, a program that does not require operating system's services to run.
    </p></div>
</div>
    </div>
    </div>
    </div>    
</div>


</div>
