<div class="masthead masthead-inner aboutus">
    <div id="particles-js"></div>
        <div class="google-glass">
        <div class="cyclebanner">
            <div class="container">
            	
                <map name="req-quote" class="banner-quote">
                     <area shape="rect" coords="0,310,360,430" href="javascript:;" title="Request Quote" rel="nofollow" alt="Request Quote" />
                </map>
            </div>
        </div>
        </div>


    
</div>

<div class="websec home-sec">

     <div class="container">
       <div class="row design_sec">
           <div class="col-md-12">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Applications">
                    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                      <mdb-carousel-item>
                        <img class="d-block w-100" src="assets/images/design/a1.jpg" alt="First slide">
                      </mdb-carousel-item>
                      <mdb-carousel-item>
                        <img class="d-block w-100" src="assets/images/design/a2.jpg" alt="First slide">
                      </mdb-carousel-item>
                      <mdb-carousel-item>
                        <img class="d-block w-100" src="assets/images/design/a3.jpg" alt="First slide">
                      </mdb-carousel-item>
                      <mdb-carousel-item>
                        <img class="d-block w-100" src="assets/images/design/a4.jpg" alt="First slide">
                      </mdb-carousel-item>
                      <mdb-carousel-item>
                        <img class="d-block w-100" src="assets/images/design/a5.jpg" alt="First slide">
                      </mdb-carousel-item>  
                      <mdb-carousel-item>
                          <img class="d-block w-100" src="assets/images/design/cla.jpg" alt="First slide">
                        </mdb-carousel-item>
                        <mdb-carousel-item>
                          <img class="d-block w-100" src="assets/images/design/job-1.jpg" alt="Third slide">
                        </mdb-carousel-item>
                        <mdb-carousel-item>
                            <img class="d-block w-100" src="assets/images/design/cua.jpg" alt="Third slide">
                          </mdb-carousel-item>
                          <mdb-carousel-item>
                            <img class="d-block w-100" src="assets/images/design/shopifi-2.jpg" alt="Third slide">
                          </mdb-carousel-item>
                      </mdb-carousel>
                </mat-tab>
                <mat-tab label="Websites">
                    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                        <mdb-carousel-item>
                          <img class="d-block w-100" src="assets/images/design/gm.jpg" alt="First slide">
                        </mdb-carousel-item>
                        <mdb-carousel-item>
                          <img class="d-block w-100" src="assets/images/design/jpw.jpg" alt="Second slide">
                        </mdb-carousel-item>
                        <mdb-carousel-item>
                          <img class="d-block w-100" src="assets/images/design/caw.jpg" alt="Third slide">
                        </mdb-carousel-item>
                        <mdb-carousel-item>
                            <img class="d-block w-100" src="assets/images/design/clw.jpg" alt="Third slide">
                          </mdb-carousel-item>
                          <mdb-carousel-item>
                            <img class="d-block w-100" src="assets/images/design/kbc.jpg" alt="Third slide">
                          </mdb-carousel-item>
                          <mdb-carousel-item>
                            <img class="d-block w-100" src="assets/images/design/cuw.jpg" alt="Third slide">
                          </mdb-carousel-item>
                          <mdb-carousel-item>
                            <img class="d-block w-100" src="assets/images/design/spw.jpg" alt="Third slide">
                          </mdb-carousel-item>
                        
                      </mdb-carousel>
                </mat-tab>
                <mat-tab label="Logos">
                    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                        <mdb-carousel-item>
                          <img class="d-block w-100" src="assets/images/design/l5.jpg" alt="First slide">
                        </mdb-carousel-item>
                        <mdb-carousel-item>
                          <img class="d-block w-100" src="assets/images/design/l3.jpg" alt="Second slide">
                        </mdb-carousel-item>
                        <mdb-carousel-item>
                          <img class="d-block w-100" src="assets/images/design/l1.jpg" alt="Third slide">
                        </mdb-carousel-item>
                        <mdb-carousel-item>
                            <img class="d-block w-100" src="assets/images/design/l2.jpg" alt="Third slide">
                          </mdb-carousel-item>
                          <mdb-carousel-item>
                            <img class="d-block w-100" src="assets/images/design/l4.jpg" alt="Third slide">
                          </mdb-carousel-item>
                        
                      </mdb-carousel>
                </mat-tab>
                <mat-tab label="Digital Marketing">
                    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                        <mdb-carousel-item>
                          <img class="d-block w-100" src="assets/images/design/d1.jpg" alt="First slide">
                        </mdb-carousel-item>
                        <mdb-carousel-item>
                          <img class="d-block w-100" src="assets/images/design/d2.jpg" alt="Second slide">
                        </mdb-carousel-item>
                        <mdb-carousel-item>
                          <img class="d-block w-100" src="assets/images/design/d3.jpg" alt="Third slide">
                        </mdb-carousel-item>
                        <mdb-carousel-item>
                            <img class="d-block w-100" src="assets/images/design/d4.jpg" alt="Third slide">
                          </mdb-carousel-item>
                          <mdb-carousel-item>
                            <img class="d-block w-100" src="assets/images/design/d5.jpg" alt="Third slide">
                          </mdb-carousel-item>
                      </mdb-carousel>
                </mat-tab>
              </mat-tab-group>
              
        </div>
       </div>
        
        
        <!--owl-carousel-o [options]="customOptions">
             <img src="assets/images/design/clw.jpg" alt="design" class="img-responsive" style="box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);">
       
           <ng-template carouselSlide>
          <img src="assets/images/project/project-36.jpg">
           </ng-template>  
           <ng-template carouselSlide>
            <img src="assets/images/project/project-30.jpg">
           </ng-template>  
           <ng-template carouselSlide>
            <img src="assets/images/project/project-31.jpg">
           </ng-template>
           <ng-template carouselSlide>
            <img src="assets/images/project/project-32.jpg">
           </ng-template>
           <ng-template carouselSlide>
            <img src="assets/images/project/project-34.jpg">
           </ng-template>
          </owl-carousel-o>
          <h1 class="design-h">Websites</h1>
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
           <img src="assets/images/project/project-40.jpg">
            </ng-template>  
            <ng-template carouselSlide>
             <img src="assets/images/project/project-37.jpg">
            </ng-template>  
            <ng-template carouselSlide>
             <img src="assets/images/project/project-24.jpg">
            </ng-template>
            <ng-template carouselSlide>
             <img src="assets/images/project/project-41.jpg">
            </ng-template>
            <ng-template carouselSlide>
             <img src="assets/images/project/project-27.jpg">
            </ng-template>
           </owl-carousel-o>
            <h1 class="design-h">Logos</h1>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
               <img src="assets/images/logos/EAZY EARN.jpg">
                </ng-template>  
                <ng-template carouselSlide>
                 <img src="assets/images/logos/NAmma Technology black.jpg">
                </ng-template>  
                <ng-template carouselSlide>
                 <img src="assets/images/logos/Namma Matrimony Logo.jpg">
                </ng-template>
                <ng-template carouselSlide>
                 <img src="assets/images/logos/Namma clicks.jpg">
                </ng-template>
                <ng-template carouselSlide>
                 <img src="assets/images/logos/jp.jpg">
                </ng-template>
               </owl-carousel-o>
              <h1 class="design-h">Digital Marketing</h1>
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
               <img src="assets/images/design/1.jpg">
                </ng-template>  
                <ng-template carouselSlide>
                 <img src="assets/images/design/2.jpg">
                </ng-template>  
                <ng-template carouselSlide>
                 <img src="assets/images/design/3.jpg">
                </ng-template>
                <ng-template carouselSlide>
                 <img src="assets/images/design/4.jpg">
                </ng-template>
                <ng-template carouselSlide>
                 <img src="assets/images/design/5.jpg">
                </ng-template>
               </owl-carousel-o-->
       </div> 
        
       </div>
     



