<div class="masthead masthead-inner aboutus">

    <div class="google-glass">
        <div class="cyclebanner" style="height:340px">
        <div class="container">
            
            <map name="req-quote" class="banner-quote">
                 <area shape="rect" coords="0,310,360,430" href="javascript:;" title="Request Quote" rel="nofollow" alt="Request Quote" />
            </map>
        </div>
    </div>
        </div>


</div>
<div class="websec home-sec">

<div class="coe_message">
    <div class="container">
         <h1>A Message from Skyappz Software CEO</h1>
        <h2 class="font-large text-left">Dear Clients, Partners, and Associates</h2>
        <p>
            Hariharasudhan is an IT veteran with 7 years in the IT Industry. He has been an avid speaker at various global conferences on technology. His domain expertise pans from Logistics , Ecommerences , Trading , Job Portals , Matrimony , Retail and Manufacturing. He is on the board of many companies in the capacity of an advisor and mentor.
            <br /><br />

            He holds an Engineering degree from Anna University, India. He is responsible for spearheading Skyappz Software and brings in significant value to customers both in terms of technology and domain expertise.
  
        </p>
        <p style="padding:1px; float:right; font-size:20px;"><strong>M.HARIHARASUDHAN<br /><span style="font-weight:normal;font-size:15px;">CEO & FOUNDER</span></strong></p>
    </div>
</div>
</div>

